.navbar {
    margin-top: 60px;
    z-index: 1;
    color: white;
    width: 100%;
    min-width: 1345px;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    .tab {
        width: 24%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-family: keepcalm;
        text-decoration: none;
        color: white;
    }
    .sep {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6px;
        background-color: white;
        height: 6px;
        border-radius: 50%;
    }
}

.title {
    z-index: 1;
    width: 100%;
    min-width: 1345px;
    margin-top: 250px;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        font-size: 10em;
        font-family: keepcalm;
    }
    .subtitle {
        font-size: 3em !important;
        font-family: keepcalm;
        color: white;
    }
}

.header {
    z-index: 99;
    width: 100%;
    min-width: 1345px;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0) 0%), url('../../assets/images/conf4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    min-width: 1345px;
    display: flex;
    justify-content: center;
    background-color: #e4e5ea;
    .box {
        margin-top: -250px;
        width: 100%;
        min-width: 1674px;
        display: flex;
        justify-content: center;
        .iot {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 25%;
            min-width: 418px;
            height: 900px;
            background-color: #fffafa;
            box-shadow: 0 0 30px #888;
            .top {
                width: 100%;
                height: 1%;
            }
            .picture {
                width: 100%;
                height: 49%;
                background-image: url('../../assets/images/ia2.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .titleBox {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                height: 10%;
                span {
                    font-family: headingextrabold;
                    font-size: 2.5em;
                    text-transform: uppercase;
                    color: #d9a951;
                }
            }
            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10% 0 10%;
                width: 80%;
                height: 30%;
                span {
                    text-align: justify;
                    font-family: keepcalm;
                    line-height: 1.3em;
                    color: #333;
                }
            }
            .peopleTitle {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 8%;
                width: 100%;
                span {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-family: headingextrabold;
                    color: #a4a5aa;
                    letter-spacing: 2px;
                }
            }
            .groupname {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 12%;
                .name {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    height: 70%;
                    .lastname {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;
                        font-family: keepcalm;
                    }
                    .surname {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;
                        font-family: keepcalm;
                        color: #d9a951;
                    }
                }
                .sepName {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 6px;
                    background-color: #d9a951;
                    height: 6px;
                    border-radius: 50%;
                }
            }
            .border {
                width: 100%;
                height: 1%;
                background-color: #d9a951;
            }
        }
        .ffe {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            left: 28%;
            width: 25%;
            min-width: 418px;
            height: 900px;
            background-color: #fffafa;
            box-shadow: 0 0 30px #888;
            .top {
                width: 100%;
                height: 1%;
            }
            .picture {
                width: 100%;
                height: 49%;
                background-image: url('../../assets/images/ff4.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .titleBox {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                height: 10%;
                span {
                    font-family: headingextrabold;
                    font-size: 2.5em;
                    text-transform: uppercase;
                    color: #76df61;
                }
            }
            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10% 0 10%;
                width: 80%;
                height: 30%;
                span {
                    text-align: justify;
                    font-family: keepcalm;
                    line-height: 1.3em;
                    color: #333;
                }
            }
            .peopleTitle {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 8%;
                width: 100%;
                span {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-family: headingextrabold;
                    color: #a4a5aa;
                    letter-spacing: 2px;
                }
            }
            .groupname {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 12%;
                .name {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    height: 70%;
                    .lastname {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;
                        font-family: keepcalm;
                    }
                    .surname {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;
                        font-family: keepcalm;
                        color: #76df61;
                    }
                }
                .sepName {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 6px;
                    background-color: #76df61;
                    height: 6px;
                    border-radius: 50%;
                }
            }
            .border {
                width: 100%;
                height: 1%;
                background-color: #76df61;
            }
        }
        .ia {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            left: -25%;
            width: 28%;
            min-width: 418px;
            height: 1000px;
            background-color: #fffafa;
            box-shadow: 0 0 30px #888;
            top: -50px;
            .top {
                width: 100%;
                height: 1%;
            }
            .picture {
                width: 100%;
                height: 54%;
                background-image: url('../../assets/images/iot2.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .titleBox {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                height: 10%;
                span {
                    font-family: headingextrabold;
                    font-size: 2.5em;
                    text-transform: uppercase;
                    color: #5caec6;
                }
            }
            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10% 0 10%;
                width: 80%;
                height: 25%;
                span {
                    text-align: justify;
                    font-family: keepcalm;
                    line-height: 1.3em;
                    color: #333;
                }
            }
            .peopleTitle {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 8%;
                width: 100%;
                span {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-family: headingextrabold;
                    color: #a4a5aa;
                    letter-spacing: 2px;
                }
            }
            .groupname {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 12%;
                .name {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    height: 70%;
                    .lastname {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;
                        font-family: keepcalm;
                    }
                    .surname {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;
                        font-family: keepcalm;
                        color: #5caec6;
                    }
                }
                .sepName {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 6px;
                    background-color: #5caec6;
                    height: 6px;
                    border-radius: 50%;
                }
            }
            .border {
                width: 100%;
                height: 1%;
                background-color: #5caec6;
            }
        }
    }
}