<div class="navbar">
    <div class="tab">Internet of Things</div>
    <div class="tab">Intelligence Artificielle</div>
    <div class="tab">Framework Front-END</div>
    <a class="tab" href="#inscription"> Inscription</a>
</div>
<div class="title">
    <span>CONFERENCE</span>
</div>

<div class="header">

</div>

<div class="content">
    <div class="box">
        <div class="iot">
            <div class="picture"></div>
            <div class="titleBox">Internet of Things</div>
            <div class="text">Vivamus ex urna, pulvinar ut laoreet ac, bibendum et magna. In vitae dolor et nisl malesuada laoreet. Etiam et tellus et turpis blandit eleifend. Nullam in orci nec nibh dapibus viverra eget a tellus. Pellentesque ornare, nunc eget blandit
                laoreet, lacus lacus faucibus felis, eu commodo erat sem ac elit. Morbi eget sollicitudin nulla, id suscipit diam. Etiam viverra, justo sed feugiat ornare, to</div>
            <div class="peopleTitle">conférencier</div>
            <div class="groupname">
                <div class="name">
                    <div class="lastname">COTERELLE</div>
                    <div class="surname">Mathieu</div>
                </div>
                <div class="name">
                    <div class="lastname">BROUTIN</div>
                    <div class="surname">Dorian</div>
                </div>
                <div class="name">
                    <div class="lastname">DENIS</div>
                    <div class="surname">Lucille</div>
                </div>
            </div>
            <div class="border"></div>
        </div>
        <div class="ffe">
            <div class="picture"></div>
            <div class="titleBox">Framework Front-END</div>
            <div class="text">Vivamus ex urna, pulvinar ut laoreet ac, bibendum et magna. In vitae dolor et nisl malesuada laoreet. Etiam et tellus et turpis blandit eleifend. Nullam in orci nec nibh dapibus viverra eget a tellus. Pellentesque ornare, nunc eget blandit
                laoreet, lacus lacus faucibus felis, eu commodo erat sem ac elit. Morbi eget sollicitudin nulla, id suscipit diam. Etiam viverra, justo sed feugiat ornare, to</div>
            <div class="peopleTitle">conférencier</div>
            <div class="groupname">
                <div class="name">
                    <div class="lastname">BOHXO</div>
                    <div class="surname">Matthieu</div>
                </div>
                <div class="name">
                    <div class="lastname">SACCO</div>
                    <div class="surname">Lorenzo</div>
                </div>
                <div class="name">
                    <div class="lastname">LEPIN</div>
                    <div class="surname">Stéphane</div>
                </div>
            </div>
            <div class="border"></div>
        </div>
        <div class="ia">
            <div class="picture"></div>
            <div class="titleBox">Intelligence Artificielle</div>
            <div class="text">Vivamus ex urna, pulvinar ut laoreet ac, bibendum et magna. In vitae dolor et nisl malesuada laoreet. Etiam et tellus et turpis blandit eleifend. Nullam in orci nec nibh dapibus viverra eget a tellus. Pellentesque ornare, nunc eget blandit
                laoreet, lacus lacus faucibus felis, eu commodo erat sem ac elit. Morbi eget sollicitudin nulla, id suscipit diam. Etiam viverra, justo sed feugiat ornare, to</div>
            <div class="peopleTitle">conférencier</div>
            <div class="groupname">
                <div class="name">
                    <div class="lastname">LEBOEUF</div>
                    <div class="surname">Mathieu</div>
                </div>
                <div class="name">
                    <div class="lastname">PINON</div>
                    <div class="surname">Olivier</div>
                </div>
                <div class="name">
                    <div class="lastname">DUVAL</div>
                    <div class="surname">Yann</div>
                </div>
            </div>
            <div class="border"></div>
        </div>
    </div>


</div>
<app-inscription id="inscription"></app-inscription>