<div class="row">
    <div class="left-section">
        <img src="../../assets/images/description_iot.png" alt="">
    </div>
    <div class="right-section">
        <div class="title">
            <h3>Internet Of Things</h3>
        </div>
        <div class="speaker">
            <div class="title">
                <h3>Conférenciers</h3>
            </div>
            <div class="people">
                <div class="picture">
                    <img src="../../assets/images/wtf.jpg" alt=""></div>
                <div class="describe">
                    <p>Coterelle Mathieu</p>
                </div>
            </div>
            <div class="people">
                <div class="picture">
                    <img src="../../assets/images/wtf.jpg" alt=""></div>
                <div class="describe">
                    <p>Broutin Dorian</p>
                </div>
            </div>
            <div class="people">
                <div class="picture">
                    <img src="../../assets/images/wtf.jpg" alt=""></div>
                <div class="describe">
                    <p>Denis Lucille</p>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="title">
                <h3>Qu'est-ce que l'IoT?</h3>
            </div>
            <div class="text">L'Internet des objets connectés représente les échanges d'informations et de données provenant de dispositifs du monde réel avec le réseau Internet. Considéré comme la troisième évolution de l'Internet, baptisé Web 3.0 qui fait suite à l'ère
                du Web social, l'Internet des objets revêt un caractère universel pour désigner des objets connectés aux usages variés, dans le domaine de la e-santé, de la domotique ou du quantified self.</div>
        </div>
        <!--https://www.objetconnecte.com/10-facons-tirer-avantage-linternet-of-things-0812/ -->
        <div class="plus">
            <div class="title">
                <h3>Avantages</h3>
            </div>
            <div class="text">Web data pour le marketing des entreprises - Identification des sites dangereux - Contrôle des équipements - Maintenance des machines et infrastructures -
            </div>
            <div class="text"> Logistique et suivi - Conteneurs environnementaux - Gestion de l’inventaire par machine - Surveillance WAN</div>
        </div>
        <div class="registrer"></div>
    </div>
</div>